<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random recipe</title>
    <link rel="stylesheet" href="css.css">
</head>
<body>
    <main>
        <h1><%= data.title %></h1>
        <img src="<%= data.image %>"><br><hr>
        <%- data.summary %>
        <hr>
        <%- data.instructions %>
    </main>
    
</body>
</html>